#PlatformIO
master_camera/.pio
slave_camera/.pio

#Managed components
master_camera/managed_components
slave_camera/managed_components

# VSCode
master_camera/.vscode
slave_camera/.vscode

# Node (if using any JS tooling)
node_modules

# OS files
.DS_Store
Thumbs.db

.esp32venv/
ca.cert

# Local build secrets
master_camera/secrets.ini
slave_camera/secrets.ini